body {
  height: 100vh;
  width: 100vw;
  background: lightgrey;
  font-family: "Roboto", sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10rem;
}

.container {
  border-bottom: 2px solid grey;
  width: 75vw;
  background-color: white;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  cursor: pointer;
}
.container:focus-within {
  border-bottom: 2px solid blue;
}
.container div[contenteditable] {
  outline: none;
  border: none;
  flex: 1;
  width: 100%;
}
.container .tag {
  background-color: #f5f5f5;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: default;
}
.container .tag.highlighted {
  background-color: #f44336;
}
.container .tag .tag-body {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.container .tag .icon {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: medium;
  position: relative;
  scale: 1.5;
  left: -0.45rem;
}
.container .tag:nth-child(n) .icon {
  background-color: #f44336;
}
.container .tag:nth-child(2n) .icon {
  background-color: #9c27b0;
}
.container .tag:nth-child(3n) .icon {
  background-color: gold;
}
.container .tag:nth-child(4n) .icon {
  background-color: #673ab7;
}
.container .tag .remove-icon {
  cursor: pointer;
}

.list {
  background-color: white;
  padding: 0;
  margin: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.list li {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.list li:hover {
  background-color: #f5f5f5;
}
.list li .icon {
  text-transform: capitalize;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: medium;
}
.list li:nth-child(n) .icon {
  background-color: #f44336;
}
.list li:nth-child(2n) .icon {
  background-color: #9c27b0;
}
.list li:nth-child(3n) .icon {
  background-color: gold;
}
.list li:nth-child(4n) .icon {
  background-color: #673ab7;
}
